body {
  background: rgb(10, 18, 57);
  color: rgb(242, 242, 230);
  font-family: 'Open+Sans', sans-serif;
  text-shadow: 0px 0px 3px rgb(242, 242, 230);
}

.small-city {
  background-color: rgb(84, 137, 171);
  width: 15em;
  height: 15em;
}

.medium-city {
  background-color: rgb(55, 116, 173);
  width: 20em;
  height: 20em;
}

.big-city {
  background-color: rgb(57, 89, 136);
  height: 30em;
  width: 30em;
}

.city-container {
  /*This serves as the flex-box container for the individual city element.*/
  align-items: center; /* align vertical */
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center; /* align horizontal */
}

.city {

  /*Elements with the city class are flex-box-items, but are also flex-box containers
  for their elements that are dynamically populated*/
  align-items: center; /* align vertical */
  border: 1px solid rgb(41, 195, 210);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  font-size: 1.2em;
  justify-content: center; /* align horizontal */
  margin: 1em;
  padding: .5em;
  transition: border .3s, box-shadow .3s;
}

.city-content {
  text-align: center;
}

.city a {
  color: rgb(250, 220, 152);
}

.city:hover {
  border: 1px solid rgb(154, 238, 252);
  box-shadow: 0px 0px 5px rgb(154, 238, 252);
  cursor: pointer;
}
