body {
  background: rgb(31, 31, 31);
  color: white;
}
.small-city{
  width:200px;
  height:200px;
  background-color: rgb(97, 123, 124);
}

.medium-city{
  width:300px;
  height:300px;
  background-color:rgb(26, 108, 47);
}
.big-city{
  width:400px;
  height:400px;
  background-color:rgb(111, 30, 30);
}
.city {
  border: 3px solid rgb(42, 78, 133);
  border-radius: 50%;
  display: inline-block;
  font-size: 1.2em;
  margin: 1em;
  padding: .5em;
  text-align: center;
  transition: border 1s;
  vertical-align: middle;
}

.city a {
  color: rgb(250, 220, 152);
}

.city:hover {
  border: 3px solid rgb(96, 157, 184);
}
