<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="citySearch">
<head>
  <title>City Search</title>
  <meta name="_csrf" th:value="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:value="${_csrf.headerName}"/>
  <meta name="_csrf_parameterName" th:value="${_csrf.parameterName}"/>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"></link>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="/app/city-search.js"></script>
  <script src="/app/components/navbar/navbar-component.js"></script>
  <script src="/app/components/city/city-services.js"></script>
  <script src="/app/components/city/city-controllers.js"></script>
  <link rel="stylesheet" href="/styles/index.css"></link>
  <link rel="stylesheet" href="/styles/city-detail.css"></link>
</head>
<body>

<div ng-view=""></div>
</body>
</html>
