/*Colors: #05668d, #028090, #00a896, #02c39a, #f0f3bd*/
body {
  background: #05668d;
  color: #f0f3bd;
  font-family: 'Open+Sans', sans-serif;
  text-shadow: 0px 0px 3px #f0f3bd;
}

.small-city {

  /*set on small cities via a function*/
}

.medium-city {

  /*set on medium cities via a function*/
}

.big-city {

  /*set on big cities via a function*/
}

.button-default {
  background-color: #00a896;
  border: 1px solid #f0f3bd;
  border-radius: 5%;
  font-weight:bold;
  padding:0.5em;
}

.city-container {
  /*This serves as the flex-box container for the individual city element.*/
  align-items: center; /* align vertical */
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center; /* align horizontal */
  margin-left: 10vw;
  margin-right: 10vw;
}

.city {

  /*Elements with the city class are flex-box-items, but are also flex-box containers
  for their elements that are dynamically populated*/
  align-items: center; /* align vertical */
  background-color: #028090;
  border: 1px solid #f0f3bd;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  font-size: 1.2em;
  justify-content: center; /* align horizontal */
  margin: 1em;
  padding: .5em;
  transition: border .3s, box-shadow .3s;
}

.city-content {
  text-align: center;
}

.city a {
  color: rgb(250, 220, 152);
}

.city:hover {
  border: 1px solid #02c39a;
  box-shadow: 0px 0px 10px #02c39a;
  cursor: pointer;
}

#city-pagination-container {
  align-items: center; /* align vertical */
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  font-size: 1.2em;
  justify-content: center; /* align horizontal */
  margin: 0.5em;
}
#city-pagination-container button {
  margin: 0.5em;
}
#city-search-bar {
  border: 1px solid #f0f3bd;
  color:#000000;
  margin: 0.5em;
  padding:0.5em;
}
.user-details {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  font-size: 1.2em;
  justify-content: center; /* align horizontal */
}
